<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Rewrite All" stopProcessing="true">
					<match url=".*" />
					<action type="Rewrite" url="index.php" />
					<conditions logicalGrouping="MatchAny">
						<add matchType="IsFile" negate="true" />
						<add matchType="IsDirectory" negate="true" />
					</conditions>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>